
/* Add this CSS code to your stylesheet (e.g., App.css) */
body {
  margin: 0;
 

}

.main-footer {
  background-color: #333;
  color: white;
  padding: 0px 1px;
}

.row {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.row2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap{
  flex: 1;
}
